@font-face {
    font-family: 'Ubuntu Regular';
    /*a name to be used later*/
    src: url('../fonts/Ubuntu-Regular.ttf');
    /*URL to font*/
}

body {
    width: 300px;
    border-radius: 20px;
    font-family: 'Ubuntu Regular';
}

h1 {
    margin-left: 8px;
    font-family: 'Ubuntu Regular';
}

#saveButton {
    transition: all 0.3s;
    font-size: 18px;

    display: inline-block;

    background-color: rgb(238, 248, 201);

    padding: 3px 10px;
    margin: 5px;

    border-radius: 5px;

    cursor: pointer;
}

#saveButton:hover {

    background-color: rgb(180, 189, 147);
}

#saveFileName {
    width: 100px;

    border: 3px solid;
    border-color: rgb(238, 248, 201);

    border-radius: 5px;

    font-family: 'Ubuntu Regular';
    font-size: 18px;
    color: black;
}

.file-input {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.file-label {
    display: inline-block;
    margin: 5px;
    padding: 3px 10px;
    background-color: rgb(238, 248, 201);
    border-radius: 5px;
    cursor: pointer;

    
    font-family: 'Ubuntu Regular';
    font-size: 18px;
    color: black;
}